{{ partial "header.html" . }}
{{ partial "head.html" . }}

<!--================Slider Area =================-->
<!--================Banner Area =================-->
<section class="slider_area">
  <div class="container">
    <div class="slider_text_inner">
      <h4>Website Design, Brand Strategy & <br />Digital Marketing with Stunning Results
      </h4>
    </div>
  </div>
</section>
<!--================End Banner Area =================-->
<!--================End Slider Area =================-->

<!--================Creative Feature Area =================-->
<section class="creative_feature_area">
  <div class="container">
    <div class="c_feature_box">
      <div class="row">
        <div class="col-lg-4">
          <div class="c_box_item">
            <a href="#"><h4><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Reliability</h4></a>
            <p>We have been working with design, architectural, marketing and branding agencies for decades. We understand what goes into a brand and the ongoing challenge to maintain its integrity. </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="c_box_item">
            <a href="#"><h4><i class="fa fa-clock-o" aria-hidden="true"></i> Expertise</h4></a>
            <p>With our expertise in small, large and multi-layered projects - from brand implementation to ongoing image management - we create fully managed solutions tailored to your exact needs.
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="c_box_item">
            <a href="#"><h4><i class="fa fa-diamond" aria-hidden="true"></i> Quality</h4></a>
            <p>Our list of clients and the length of our relationships with them show we deliver time and time again.
            </p>
            <p>We build trusted partnerships to achieve success.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="digital_feature p_100">
      <div class="row">
        <div class="col-lg-6">
          <div class="d_feature_text">
            <div class="main_title">
              <h2>We Are A Creative <br /> Digital Agency Focused on Growing Brands Online</h2>
            </div>
            <div>
              <h5>Pushing out limits to provide the highest quality services
              </h5>
            </div>
            <br>
            <p>Ipsum Media is a digital agency established to help business grow in creativity, interactivity and identity by tapping into the fast growing digital community.</p>
            <p>With the evolving new media, social media and vast capabilities offered in digital platforms such as Facebook, Twitter, Instagram and the likes, there is much potential in digital marketing.</p>
            <a class="read_btn" href="#">Contact Us</a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="d_feature_img">
            <img src="/img/05.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Creative Feature Area =================-->

<!--================Industries Area =================-->
<section class="industries_area">
  <div class="left_indus">
    <div class="indus_img">
      <img src="/img/06.jpg" alt="">
    </div>
  </div>
  <div class="right_indus">
    <div class="indus_text">
      <div class="main_title">
        <h2>We Serve All Industries</h2>
        <p>We stay on top of our industry by being experts in yours. We measure our success by the results we drive for our clients.</p>
      </div>
      <div class="our_skill_inner">
        <div class="single_skill">
          <h3>Website Design</h3>
          <div class="progress" data-value="90">
            <div class="progress-bar">
              <div class="progress_parcent"><span class="counter">90</span>%</div>
            </div>
          </div>
        </div>
        <div class="single_skill">
          <h3>Brand Strategy</h3>
          <div class="progress" data-value="95">
            <div class="progress-bar">
              <div class="progress_parcent"><span class="counter">95</span>%</div>
            </div>
          </div>
        </div>
        <div class="single_skill">
          <h3>Digital Marketing</h3>
          <div class="progress" data-value="85">
            <div class="progress-bar">
              <div class="progress_parcent"><span class="counter">85</span>%</div>
            </div>
          </div>
        </div>
        <div class="single_skill">
          <h3>Website Development</h3>
          <div class="progress" data-value="90">
            <div class="progress-bar">
              <div class="progress_parcent"><span class="counter">90</span>%</div>
            </div>
          </div>
        </div>
      </div>
      <a class="read_btn mb-5" href="#">Work with us</a>
    </div>
  </div>
</section>
<!--================End Industries Area =================-->

<!--================Our Service Area =================-->
<section class="service_area">
  <div class="container">
    <div class="center_title">
      <h2>Our Services</h2>
      <p>We Are A Creative Digital Agency. Focused on Growing Brands Online</p>
    </div>
    <div class="row service_item_inner">
      <div class="col-lg-4">
        <div class="service_item">
          <i class="ti-camera"></i>
          <h4>Photography</h4>
          <p>Mainly done for content development or event coverage.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="service_item">
          <i class="ti-desktop"></i>
          <h4>Website Development</h4>
          <p>We design, redesign, develop and manage websites from ground up to maximize delivery.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="service_item">
          <i class="ti-announcement"></i>
          <h4>Digital Marketing</h4>
          <p>It involves Content Optimization, Content Curation, SEM, SMM etc.</p>
        </div>
      </div>
    </div>
    <br><br>
    <div class="row service_item_inner">
      <div class="col-lg-4">
        <div class="service_item">
          <i class="ti-ruler-pencil"></i>
          <h4>Graphic Design</h4>
          <p>Ideal for Brand Identity and and Marketing.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="service_item">
          <i class="ti-user"></i>
          <h4>Community Management</h4>
          <p>We offer services such as Digital strategies, Social media campaigns, Facebook analytics.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="service_item">
          <i class="ti-write"></i>
          <h4>Content Development</h4>
          <p>We develop content for social media platforms that is copies based on content pillars.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Our Service Area =================-->

<!--================Testimonials Area =================-->
<section class="testimonials_area p_100">
  <div class="container">
    <div class="testimonials_slider owl-carousel">
      <div class="item">
        <div class="media">
          <img class="d-flex rounded-circle" src="img/testimonials-1.png" alt="">
          <div class="media-body">
            <img src="img/dotted-icon.png" alt="">
            <p>Our audience wants to receive the most relevant information right away in a format easily consumable for the decision-making process. Ipsum’s expertise and "out of the box thinking" in helping us strategically deliver targeted content is a key value to improving our audience’s content journey.</p>
            <h4><a href="#">Mercy G. </a> - Information Systems Strategist</h4>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="media">
          <img class="d-flex rounded-circle" src="img/testimonials-1.png" alt="">
          <div class="media-body">
            <img src="img/dotted-icon.png" alt="">
            <p>I wanted to mention that these days, when the opposite of good customer and tech support tends to be the norm, it’s always great having a team like you guys at Fancy! So, be sure that I’ll always spread the word about how good your product is and the extraordinary level of support that you provide any time there is any need for it.</p>
            <h4><a href="#">Aigars Silkalns</a> - CEO DeerCreative</h4>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="media">
          <img class="d-flex rounded-circle" src="img/testimonials-1.png" alt="">
          <div class="media-body">
            <img src="img/dotted-icon.png" alt="">
            <p>I wanted to mention that these days, when the opposite of good customer and tech support tends to be the norm, it’s always great having a team like you guys at Fancy! So, be sure that I’ll always spread the word about how good your product is and the extraordinary level of support that you provide any time there is any need for it.</p>
            <h4><a href="#">Aigars Silkalns</a> - CEO DeerCreative</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Testimonials Area =================-->

<!--================Project Area =================-->
<section class="project_area">
  <div class="container">
    <div class="project_inner">
      <div class="center_title">
        <h2>Ready To Discuss Your Project? </h2>
        <p>There are many ways to contact us. You may drop us a line, give us a call or send an email, choose what suits you the most.</p>
      </div>
      <a class="tp_btn" href="#">WORK WITH US</a>
    </div>
  </div>
</section>
<!--================End Project Area =================-->

<!--================Latest News Area =================-->
<section class="latest_news_area p_100">
  <div class="container">
    <div class="b_center_title">
      <h2>Latest News</h2>
      <p>We Are A Creative Digital Agency. Focused on Growing Brands Online</p>
    </div>
    <div class="l_news_inner">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="l_news_item">
            <div class="l_news_img"><a href="#"><img class="img-fluid" src="img/blog/l-news/l-news-1.jpg" alt=""></a></div>
            <div class="l_news_content">
              <a href="#"><h4>We Create Experiences</h4></a>
              <p>The Fancy that recognize the talent and effort of the best web designers, develop-ers and agencies in the world.</p>
              <a class="more_btn" href="#">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="l_news_item">
            <div class="l_news_img"><a href="#"><img class="img-fluid" src="img/blog/l-news/l-news-2.jpg" alt=""></a></div>
            <div class="l_news_content">
              <a href="#"><h4>Simple, Fast And Fun</h4></a>
              <p>The Fancy that recognize the talent and effort of the best web designers, develop-ers and agencies in the world.</p>
              <a class="more_btn" href="#">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="l_news_item">
            <div class="l_news_img"><a href="#"><img class="img-fluid" src="img/blog/l-news/l-news-3.jpg" alt=""></a></div>
            <div class="l_news_content">
              <a href="#"><h4>Device Friendly</h4></a>
              <p>The Fancy that recognize the talent and effort of the best web designers, develop-ers and agencies in the world.</p>
              <a class="more_btn" href="#">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Latest News Area =================-->

{{ partial "footer.html" . }}

