{{ partial "header.html" . }}
{{ partial "head.html" . }}

<section class="ftco-cover" style="background-image: url(images/bg_1.jpg);" id="section-home" data-aos="fade"  data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center ftco-vh-100">
          <div class="col-md-7">
            <h1 class="ftco-heading mb-3" data-aos="fade-up" data-aos-delay="500">Crafting visually stunning memorable experiences for you.</h1>
            <h2 class="h5 ftco-subheading mb-5" data-aos="fade-up"  data-aos-delay="600">We’re good. Just ask our moms.</h2>
            <p data-aos="fade-up"  data-aos-delay="700"><a href="https://free-template.co/" target="_blank" class="btn btn-outline-white px-4 py-3" data-toggle="modal" data-target="#reservationModal">Find out more</a></p>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->
    
    <section class="ftco-section" id="section-about">
      <div class="container">
        <div class="row">
          <div class="col-md-12  mb-5" data-aos="fade-up">
            <h1 class="ftco-heading heading-thin mb-5">  With our expertise in small, large and multi-layered projects - from brand implementation to ongoing image management - we create fully managed solutions tailored to your exact needs. </h1>
          </div>
        </div>
        
      </div>
    </section>
    <!-- END section -->

    <section class="ftco-section-2">
      <div class="container-fluid">
        <div class="section-2-blocks-wrapper row no-gutters">
          <div class="img col-sm-12 col-md-5" style="background-image: url('images/brand.svg');" data-aos="fade-right">
            <!--<a href="https://vimeo.com/45830194" class="button popup-vimeo" data-aos="fade-right" data-aos-delay="700"><span class="ion-ios-play"></span></a>-->
          </div>
          <div class="text col-md-6 col-lg-7 d-flex">
            <div class="text-inner align-self-center" data-aos="fade-up">
              
              <h3>We are brand guardians</h3>
              <p>We have been working with design, architectural, marketing and branding agencies for decades. We understand what goes into a brand and the ongoing challenge to maintain its integrity.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-2-blocks-wrapper-2">
      <div class="container-fluid">
        <div class="section-2-blocks-wrapper row no-gutters d-flex">
          
          <div class="text col-md-5 col-lg-5 col-xl-4 ml-auto d-flex" data-aos="fade-up">
            <div class="text-inner align-self-center mr-auto">
              <h4 class="text-primary h5">Long-term partnerships</h4>
              <p class="mb-4">Our list of clients and the length of our relationships with them show we deliver time and time again. We build trusted partnerships to achieve success.</p>
              <h4 class="text-primary h5">Open & collaborative</h4>
              <p class="mb-4">Solving problems is all about teamwork. We work closely with you to become part of your team. With that we rely on mutual trust and transparency.</p>
            </div>
          </div>
          <div class="img col-md-5 no-gutters ml-auto">
            <div class="image" style="background-image: url('images/group.svg'); " data-aos="fade-left"></div>
            <div class="quote" data-aos="fade-left">
              <p class="mb-5">&rdquo; A year from now, you’ll wish you had started today. &ldquo;</p>
              <p class="author">&mdash; Karen Lamb</p>
            </div>
          </div>
        </div>
      </div>
      
    </section>

    
  

  <div class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center" data-aos="fade-up">
          <h2>Testimonials</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4"  data-aos="fade-up">
          <div class="flip-container">
            <div class="flipper">
              <div class="front" style="background-image: url(../images/image_5.jpg);">
                <div class="box">
                  <h2>Mellissa Clark</h2>
                  <p>Web Designer</p>
                </div>
              </div>
              <div class="back">
                <!-- back content -->
                <blockquote>
                  <p>&ldquo;A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.&rdquo;</p>
                </blockquote>
                <div class="author d-flex">
                  <div class="image mr-3 align-self-center">
                    <img src="images/person_1.jpg" alt="">
                  </div>
                  <div class="name align-self-center">Mellisa Clark <span class="position">Web Designer</span></div>
                </div>
              </div>
            </div>
          </div> <!-- .flip-container -->
        </div>
        <div class="col-md-6 col-lg-4"  data-aos="fade-up" data-aos-delay="100">
          
          <div class="flip-container hover">
            <div class="flipper">
              <div class="front" style="background-image: url(../images/image_6.jpg);">
                <div class="box">
                  <h2>Mellissa Clark</h2>
                  <p>Web Designer</p>
                </div>
              </div>
              <div class="back">
                <!-- back content -->
                <blockquote>
                  <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                </blockquote>
                <div class="author d-flex">
                  <div class="image mr-3 align-self-center">
                    <img src="images/person_2.jpg" alt="">
                  </div>
                  <div class="name align-self-center">Louise Kelly <span class="position">Illustrator Designer</span></div>
                </div>
              </div>
            </div>
          </div> <!-- .flip-container -->

        </div>
        <div class="col-md-6 col-lg-4"  data-aos="fade-up" data-aos-delay="200">
          
          <div class="flip-container">
            <div class="flipper">
              <div class="front" style="background-image: url(../images/image_7.jpg);">
                <div class="box">
                  <h2>Aldin Powell</h2>
                  <p>Web Developer</p>
                </div>
              </div>
              <div class="back">
                <!-- back content -->
                <blockquote>
                  <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
                </blockquote>
                <div class="author d-flex">
                  <div class="image mr-3 align-self-center">
                    <img src="images/person_3.jpg" alt="">
                  </div>
                  <div class="name align-self-center">Aldin Powell <span class="position">Web Developer</span></div>
                </div>
              </div>
            </div>
          </div> <!-- .flip-container -->

        </div>
      </div>
    </div>
  </div>

  <div class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center" data-aos="fade-up">
          <h2>What We Do</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-4" data-aos="fade-up">
          <div class="media block-6">
            <div class="icon"><span class="flaticon-computer bg-after"></span></div>
            <div class="media-body">
              <h3 class="heading">Web Development</h3>
              <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
            </div>
          </div>      
        </div>
        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="media block-6">
            <div class="icon"><span class="flaticon-flow-chart bg-after"></span></div>
            <div class="media-body">
              <h3 class="heading">Content Development</h3>
              <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
            </div>
          </div>      
        </div>
        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="media block-6">
            <div class="icon"><span class="flaticon-presentation bg-after"></span></div>
            <div class="media-body">
              <h3 class="heading">Digital Marketing</h3>
              <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
            </div>
          </div>    
        </div>

        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
          <div class="media block-6">
            <div class="icon"><span class="flaticon-camera bg-after"></span></div>
            <div class="media-body">
              <h3 class="heading">Photography</h3>
              <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
            </div>
          </div>      
        </div>
        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="400">
          <div class="media block-6">
            <div class="icon"><span class="flaticon-puzzle bg-after"></span></div>
            <div class="media-body">
              <h3 class="heading">Graphic Design</h3>
              <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
            </div>
          </div>      
        </div>
        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="500">
          <div class="media block-6">
            <div class="icon"><span class="flaticon-meeting bg-after"></span></div>
            <div class="media-body">
              <h3 class="heading">Community Management</h3>
              <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
            </div>
          </div>    
        </div>

      </div>
    </div>
  </div>

  <div class="ftco-section bg-light">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center"  data-aos="fade-up">
          <h2>Our Blog</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-4" data-aos="fade-up">
          <a href="blog-single.html" class="block-5" style="background-image: url('images/image_10.jpg');">
            <div class="text">
              <div class="subheading">Travel</div>
              <h3 class="heading">Far far away, behind the word mountains</h3>
              <div class="post-meta">
                <span>Wellie Clark</span>
                <span>March 20, 2018</span>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <a href="blog-single.html" class="block-5" style="background-image: url('images/image_8.jpg');">
            <div class="text">
              <div class="subheading">Travel</div>
              <h3 class="heading">Far far away, behind the word mountains</h3>
              <div class="post-meta">
                <span>Wellie Clark</span>
                <span>March 20, 2018</span>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <a href="blog-single.html" class="block-5" style="background-image: url('images/image_9.jpg');">
            <div class="text">
              <div class="subheading">Travel</div>
              <h3 class="heading">Far far away, behind the word mountains</h3>
              <div class="post-meta">
                <span>Wellie Clark</span>
                <span>March 20, 2018</span>
              </div>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>

{{ partial "footer.html" . }}

